<%= render :partial => 'calculation_scripts' %>
<%= render :partial => 'help' %>
<span class="ajaxloader" style="display:none;"><%= image_tag 'loading.gif' %></span>
<div id="calculation_page" class="content_pane">
  <div id="amee-strap" class="calculation">
    <%= image_tag 'AMEE-Logo2011-LINE_Green-small.png', :alt => 'AMEE: Environment Intelligence. Everywhere' %>
  </div>
  <% optional = session[@prototype_calculation.label][:show_optional] %>
  <div class="links">
    <% if optional %>
      <div class="link">
        <%= link_to_remote 'Show compulsory inputs only', :url => toggle_optional_path(:type => @prototype_calculation.label,
                                                                                       :show_optional => 'false') %>
      </div>
    <% else %>
      <div class="link">
      <%= link_to_remote 'Show optional inputs', :url => toggle_optional_path(:type => @prototype_calculation.label,
                                                                    :show_optional => 'true') %>
      </div>
    <% end %>
    <div id="guide-switch" class="link">
      <%= "Show guide" %>
    </div>
  </div>
  <br />
  <div id="table_container">
    <table id="calculation_table">
      <tr>
        <% up_image = image_tag "up-arrow.png", :alt => 'u' %>
        <% down_image = image_tag "down-arrow.png", :alt => 'd' %>
        <% calculation_terms_in_table_order(@prototype_calculation,optional).each do |term| %>
          <th>
            <span class="column-header"><%=  term.name %></span>
            <span class="sort-buttons">
              <%=link_to_remote up_image, :url => sort_path(:type => @prototype_calculation.label,
                                                            :ascending => term.label)%>
              <%=link_to_remote down_image, :url => sort_path(:type => @prototype_calculation.label,
                                                              :descending => term.label)%>
            </span>
          </th>
        <%end%>
        <th class="delete"></th>
      </tr>
      <% @calculations.each do |calc| %>
        <tr><%= render 'edit_row', :calculation=>calc, :optional => optional %></tr>
      <%end%>
      <tr id="totals">
        <%= render("total_row", :calculations => @calculations, :prototype_calculation => @prototype_calculation, :optional => optional) unless @calculations.empty? %>
      </tr>
    </table>
    <div style="clear: both;"></div>
  </div>
  <div id="table-base-nav">
    <span id="add-calc">
      <% image = image_tag "add_calc.png", :alt => 'Add a calculation' %>
      <%= link_to_remote 'Add a calculation'+image, :url => add_path(:type => @prototype_calculation.label) %>
    </span>
    <span id="summary-link">
      <% image = image_tag "go_to_summary.png", :alt => 'Go to summary' %>
      <%= link_to 'Go to summary page'+image, summary_path %>
    </span>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />


