<% row_id = "row-#{rand(1e8)}" %>
<tr id="<%= row_id%>">
<% calculation.inputs.compulsory.visible.each do |term|%>
  <td><%= render 'edit_term', :term => term %></td>
<% end %>
<% if session[calculation.label][:show_optional] %>
  <% calculation.inputs.optional.visible.each do |term|%>
    <td><%= render 'edit_term', :term => term %></td>
  <% end %>
<% end %>
<% calculation.outputs.visible.each do |term|%>
  <% style = "border: 1px solid White; background: White ; color: #202020 ; font-size: 1.5em; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: Darkgray; vertical-align: middle; text-align:right; padding-right: 5px; width: auto; display: inherit;" %>
    <td><span style="<%= style %>"><%= show_term_tag(term) %></span></td>
<%end%>
<td><%= link_to_remote 'Delete', :url => delete_path(:id => calculation.id, :row => row_id),
                                 :before => visual_effect(:fade, row_id, :duration => 3) %> </td>
</tr>