<% row_id = "row-#{rand(1e8)}" %>
<% ref = ( calculation.id ? "calc_db_id='#{calculation.id}'" : "calc_type='#{calculation.label}'" ) %>
<tr id="<%= row_id%>" <%= ref %>>
<% optional = session[calculation.label.to_s][:show_optional] %>
<% calculation_terms_in_table_order(calculation,optional,false).each do |term|%>
  <td class="<%= html_class_for_term(term,:edit)%>">
    <%= render 'edit_term', :term => term %>
  </td>
<% end %>
<% unless calculation.outputs.visible.empty? %>
  <% output_terms_in_order(calculation.outputs.visible).each do |term|%>
    <td id="<%= "#{row_id}-#{term.label}" %>" class="<%= html_class_for_term(term,:show)%>">
      <%= show_term_tag(term,:decimal_places => 2, :format_number => true, :delimiter => " ") %>
    </td>
  <%end%>
<% else %>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
<% end %>
<% delete_symbol = image_tag "delete.png", :alt => 'Delete' %>
<td class="delete">
  <%= link_to delete_symbol, delete_path(:id => calculation.id, :row => row_id), :class => "delete-link", :remote => true %>
</td>
</tr>

