<div id="tab-wrapper" class="tab-opacity">
  <div id="original-tabs" class="tabs">
    <div class="tab<%= ' selected' if request.fullpath == '/summary' %>" id="summary_tab">
      <%= link_to 'Summary', summary_path %>
    </div>
    <% prototype_calculations.each do |label,calc| %>
      <div class="tab<%= ' selected' if prototype_calculation && prototype_calculation.label == label %>" id="<%= "#{label}_tab" %>">
        <%= link_to calc.name, calculation_path(:type => label)  %>
      </div>
    <% end %>
  </div>
</div>