  <% prototype_calc.metadata.visible.each do |term| %>
  <td></td>
<% end %>
<% prototype_calc.drills.visible.each do |term| %>
  <td></td>
<%end%>
<% prototype_calc.profiles.compulsory.visible.each do |term| %>
  <td></td>
<%end%>
<% if optional %>
  <% prototype_calc.profiles.optional.visible.each do |term| %>
    <td></td>
  <%end%>
<%end%>
<% prototype_calc.outputs.visible.each do |term| %>
  <% result = calculations.send(term.label).sum rescue nil %>
  <% style = "border: 1px solid White; background: White ; color: #202020 ; font-size: 1.5em; font-family: 'Trebuchet MS', Helvetica, sans-serif; color: Black; vertical-align: middle; text-align: right; padding-right: 5px; width: 100%; display: inherit;" %>
  <td><span style="<%= style %>"><%= result.value.round(1) %></span></td>
  <td><span style="<%= style %>"><%= result.unit.symbol if result.unit %></span></td>
  <td><span style="<%= style %>">/</span></td>
  <td><span style="<%= style %>"><%= result.per_unit.symbol if result.per_unit %></span></td>
<% end %>
<td></td>