<%@existing.each do |label,calcs|%>
  <%proto=Calculations[label]%>
  <h2><%=proto.name%></h2>
  <table>
    <tr><%proto.terms.each do |term|%><th><%=term.name%></th><%end%><th>Action</th></tr>
  <%calcs.each do |calc|%>
    <tr><%calc.terms.each do |term|%><td><%=term.value%></td><%end%><td><%=
        link_to "Edit", :action=>'edit',
          :calculation=>calc.label,
          :id=>calc.id%>
      </td></tr>

  <%end%>
  <tr><%proto.terms.each do |term|%><td></td><%end%><td><%=
      link_to "Create", :action=>'enter', :calculation=>label%>
    </td></tr>
  </table>
<%end%>
