<%= render :partial => 'totals_scripts' %>
<div id="totals_page" class="content_pane">
  <div id="table_chart_wrapper">
    <div id="table_tab_wrapper">
      <div class="links">
        <div class="link">
          <%= link_to 'Export to PDF', "/report.pdf" %><%= image_tag "pdf.png" %>
        </div>
        <% if false %>
          <div class="link">
            <%= 'Export to XLS' %><%= image_tag "xls.png" %>
          </div>
          <div class="link">
            <%= 'Export to CSV' %><%= image_tag "csv.png" %>
          </div>
        <% end %>
      </div>
      <table id="totals_table">
        <%= render :partial => 'totals_table' %>
      </table>
    </div>
    <div id="chart_container"><%= render(:partial => 'totals_chart') %></div>
    <div style="clear: both"></div>
  </div>
  <div id="amee-strap" class="summary">
    <%= image_tag 'AMEE-Logo2011-LINE_Green-small.png', :alt => 'AMEE: Environment Intelligence. Everywhere' %>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
