<div id="header">
  <div id="header_tabs">
    <% if logged_in? %>
      <% if current_user.is_admin? %>
        <div class="tab">
          <%= link_to 'Admin', users_path %>
        </div>
      <% end %>
      <div class="tab">
        <%= link_to "Summary", summary_path %>
      </div>
      <div class="tab">
        <%= link_to "Help", help_path %>
      </div>
      <div class="tab">
        <%= link_to 'Settings', edit_user_path(current_user.id) %>
      </div>
      <div class="tab">
        <%= link_to 'Send feedback', feedback_path %>
      </div>
      <div class="tab">
        <%= link_to 'Logout', user_session_path(current_user_session.id), :method => 'delete' %>
      </div>
    <% end %>
  </div>
</div>
<div id="contentarea">