<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= $tool_name %> GHG calculation tool</title>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.ba-bbq' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= render :partial => "calculation/tab_scripts" %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= stylesheet_link_tag 'main' %>
    <%= yield :head %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24479591-3']);
      _gaq.push(['_trackPageview']);

      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

    </script>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>
    <%= yield %>
    <%= render :partial => "layouts/footer" %>

  </body>

</html>
